[alias]
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
[branch]
	sort = -committerdate
[color]
	ui = true
[diff]
	tool = vimdiff
[difftool]
	prompt = true
[difftool "vimdiff"]
	cmd = vimdiff \"$BASE\" \"$LOCAL\"
[help]
	autocorrect = prompt
[http]
	sslverify = true
[core]
	editor = nvim
	excludesfile = /Users/roman.charugin/work/dotfiles/.gitignore_global
[init]
	defaultBranch = main
[pull]
	ff = yes
[push]
	autoSetupRemote = true
	default = current
[rebase]
	autosquash = true
[rerere]
	autoUpdate = true
	enabled = true
