[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
	f = fetch
	ci = commit -a
	co = checkout
	ps = push
	pl = pull
	st = status
	sth = stash -u
	usth = stash pop stash@{0}
[user]
	name = Roman Charugin
	email = i@charugin.ru
[push]
	default = current
